USE [master]
GO
/****** Object:  Database [195lidov]    Script Date: 26.09.2022 10:36:46 ******/
CREATE DATABASE [195lidov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'195lidov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\195lidov.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'195lidov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\195lidov_log.ldf' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [195lidov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [195lidov]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 26.09.2022 10:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [varchar](max) NULL,
	[Code_Clienta] [int] NULL,
	[Passport_Data] [varchar](max) NULL,
	[Birthday] [date] NULL,
	[Adress] [varchar](max) NULL,
	[e-mail] [varchar](max) NULL,
	[Password] [varchar](max) NULL,
	[id_zakaza] [int] NULL,
 CONSTRAINT [PK_clients] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uslugi]    Script Date: 26.09.2022 10:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uslugi](
	[ID] [int] NOT NULL,
	[title] [varchar](max) NULL,
	[code] [nvarchar](max) NULL,
	[price] [int] NULL,
	[id_zakazy] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zakazy]    Script Date: 26.09.2022 10:36:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zakazy](
	[id] [int] NOT NULL,
	[code] [varchar](max) NULL,
	[date_creation] [date] NULL,
	[time] [time](7) NULL,
	[code_client] [int] NULL,
	[uslugi] [nvarchar](max) NULL,
	[status] [varchar](max) NULL,
	[date_of_closing] [date] NULL,
	[time_prokat] [nvarchar](max) NULL,
 CONSTRAINT [PK_zakazy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clients] ON 

INSERT [dbo].[clients] ([id], [FIO], [Code_Clienta], [Passport_Data], [Birthday], [Adress], [e-mail], [Password], [id_zakaza]) VALUES (1, N'Фролов Андрей Иванович', 45462526, N'Серия 1180 Номер 176596', CAST(N'2001-07-14' AS Date), N'344288, г. Барнаул, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345', NULL)
INSERT [dbo].[clients] ([id], [FIO], [Code_Clienta], [Passport_Data], [Birthday], [Adress], [e-mail], [Password], [id_zakaza]) VALUES (2, N'Николаев Даниил Всеволодович', 45462527, N'Серия 2280 Номер 223523', CAST(N'2001-10-02' AS Date), N'614164, г. Барнаул, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346', NULL)
INSERT [dbo].[clients] ([id], [FIO], [Code_Clienta], [Passport_Data], [Birthday], [Adress], [e-mail], [Password], [id_zakaza]) VALUES (3, N'Снегирев Макар Иванович', 45462528, N'Серия 4560 Номер 354155', CAST(N'1998-05-21' AS Date), N'394242, г. Барнаул, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347', NULL)
SET IDENTITY_INSERT [dbo].[clients] OFF
GO
INSERT [dbo].[uslugi] ([ID], [title], [code], [price], [id_zakazy]) VALUES (336, N'Прокат лыж', N'8HFJHG443
', 800, NULL)
INSERT [dbo].[uslugi] ([ID], [title], [code], [price], [id_zakazy]) VALUES (353, N'Прокат лыжных палок', N'87FDJKHJ
', 100, NULL)
INSERT [dbo].[uslugi] ([ID], [title], [code], [price], [id_zakazy]) VALUES (353, N'Прокат сноуборда', N'JUR8R
', 1200, NULL)
GO
INSERT [dbo].[zakazy] ([id], [code], [date_creation], [time], [code_client], [uslugi], [status], [date_of_closing], [time_prokat]) VALUES (1, N'45462526/44632', CAST(N'2022-12-03' AS Date), CAST(N'09:10:00' AS Time), 45462526, N'34, 31, 353, 336', N'Новая', NULL, N'120 минут')
INSERT [dbo].[zakazy] ([id], [code], [date_creation], [time], [code_client], [uslugi], [status], [date_of_closing], [time_prokat]) VALUES (2, N'45462526/44632', CAST(N'2022-03-13' AS Date), CAST(N'10:10:00' AS Time), 45462527, N'98, 45, 89, 99, 123', N'В прокате', NULL, N'600 минут')
INSERT [dbo].[zakazy] ([id], [code], [date_creation], [time], [code_client], [uslugi], [status], [date_of_closing], [time_prokat]) VALUES (3, N'45462528/44634', CAST(N'2022-03-14' AS Date), CAST(N'11:10:00' AS Time), 45462528, N'92, 45, 57, 88', N'В прокате', NULL, N'2 часа')
GO
ALTER TABLE [dbo].[clients]  WITH CHECK ADD  CONSTRAINT [FK_clients_zakazy] FOREIGN KEY([id_zakaza])
REFERENCES [dbo].[zakazy] ([id])
GO
ALTER TABLE [dbo].[clients] CHECK CONSTRAINT [FK_clients_zakazy]
GO
ALTER TABLE [dbo].[uslugi]  WITH CHECK ADD  CONSTRAINT [FK_uslugi_zakazy] FOREIGN KEY([id_zakazy])
REFERENCES [dbo].[zakazy] ([id])
GO
ALTER TABLE [dbo].[uslugi] CHECK CONSTRAINT [FK_uslugi_zakazy]
GO
USE [master]
GO
